@model CodeFirstApproach.Models.EmployeeModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


<form action="~/Employee/Edit" method="post">

    <label>EmpName</label>
    <input type="text" name="EmpName" value="@Model.EmpName" class="form-control" /><br />

    <label>EmpSalary</label>
    <input type="text" name="EmpSalary" value="@Model.EmpSalary" class="form-control" /><br />

    <input type="submit" name="name" value="Save" class="btn btn-success" />

</form>