
@{
    ViewBag.Title = "getMyPartialView";
}

<h2>getMyPartialView</h2>

<ul>
    <li>Meetu</li>
    <li>deep</li>
    <li>sanjay</li>
    <li>Ritika</li>
    <li>neetin</li>
    <li>naresh</li>
</ul>

@Html.Partial("_myPartialView")