@model MadOnMVCBatch.Models.EmpDept

@{
    ViewBag.Title = "getMyPartialView2";
}

<h2>getMyPartialView2</h2>




<table class="table table-bordered table-condensed">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Salary</th>
    </tr>
    @foreach (var item in Model.emp)
    {
        <tr>
            <td>@item.EmpId</td>
            <td>@item.EmpName</td>
            <td>@item.EmpSalary</td>
        </tr>
    }
</table>

<br />



@{var s=Html.Partial("_DepatmentPartialView");
    if (1 == 1)
    {
        @s
    }

    }
@{Html.RenderPartial("_DepatmentPartialView");}