USE [master]
GO
/****** Object:  Database [HospitalManagement]    Script Date: 13-04-2022 09:20:50 ******/
CREATE DATABASE [HospitalManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HospitalManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\HospitalManagement.mdf' , SIZE = 7168KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HospitalManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\HospitalManagement_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HospitalManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HospitalManagement]
GO
/****** Object:  User [NT AUTHORITY\NETWORK SERVICE]    Script Date: 13-04-2022 09:20:50 ******/
CREATE USER [NT AUTHORITY\NETWORK SERVICE] FOR LOGIN [NT AUTHORITY\NETWORK SERVICE] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [IIS APPPOOL]    Script Date: 13-04-2022 09:20:50 ******/
CREATE USER [IIS APPPOOL] FOR LOGIN [IIS APPPOOL\DefaultAppPool] WITH DEFAULT_SCHEMA=[db_accessadmin]
GO
ALTER ROLE [db_owner] ADD MEMBER [NT AUTHORITY\NETWORK SERVICE]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [NT AUTHORITY\NETWORK SERVICE]
GO
ALTER ROLE [db_owner] ADD MEMBER [IIS APPPOOL]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [IIS APPPOOL]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [IIS APPPOOL]
GO
ALTER ROLE [db_datareader] ADD MEMBER [IIS APPPOOL]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [IIS APPPOOL]
GO
/****** Object:  UserDefinedFunction [dbo].[Split]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[Split](@String varchar(MAX), @Delimiter char(1))       
returns @temptable TABLE (items varchar(MAX))       
as       
begin      
    declare @idx int       
    declare @slice varchar(8000)       

    select @idx = 1       
        if len(@String)<1 or @String is null  return       

    while @idx!= 0       
    begin       
        set @idx = charindex(@Delimiter,@String)       
        if @idx!=0       
            set @slice = left(@String,@idx - 1)       
        else       
            set @slice = @String       

        if(len(@slice)>0)  
            insert into @temptable(Items) values(@slice)       

        set @String = right(@String,len(@String) - @idx)       
        if len(@String) = 0 break       
    end   
return 
end;

GO
/****** Object:  Table [dbo].[Account]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[BillId] [int] IDENTITY(1,1) NOT NULL,
	[DrId] [int] NULL,
	[PatId] [int] NULL,
	[TotalAmount] [float] NULL,
	[DR_Percentage] [int] NULL,
	[Referal_Percentage] [int] NULL,
	[NetAmount] [float] NULL,
	[Createdby] [int] NULL,
	[UpdatedBy] [int] NULL,
	[Createddate] [datetime] NULL,
	[Updateddate] [datetime] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[BillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[AppointmentId] [int] IDENTITY(1,1) NOT NULL,
	[PId] [int] NULL,
	[Did] [int] NULL,
	[DateOfAppointment] [datetime] NULL,
	[TimeOfAppointment] [nvarchar](max) NULL,
	[CreationDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedBy] [int] NULL,
	[UpdationDate] [datetime] NULL,
 CONSTRAINT [PK_Appointment] PRIMARY KEY CLUSTERED 
(
	[AppointmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[ContactName] [nvarchar](max) NULL,
	[Designation] [nvarchar](max) NULL,
	[EmailId] [nvarchar](50) NULL,
	[PhoneNo1] [nvarchar](50) NULL,
	[PhoneNo2] [nvarchar](50) NULL,
	[Address] [nvarchar](max) NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DiognasisTest]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DiognasisTest](
	[TestId] [int] IDENTITY(1,1) NOT NULL,
	[TestName] [varchar](max) NULL,
	[Description] [varchar](max) NULL,
	[IsChecked] [bit] NOT NULL CONSTRAINT [DF_DiognasisTest_IsChecked]  DEFAULT ((1)),
 CONSTRAINT [PK_DiognasisTest] PRIMARY KEY CLUSTERED 
(
	[TestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Diseasses]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diseasses](
	[DiseasesId] [int] IDENTITY(1,1) NOT NULL,
	[DisseaseName] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[CreationDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Diseasses] PRIMARY KEY CLUSTERED 
(
	[DiseasesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[DoctorId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[EmailId] [nvarchar](50) NULL,
	[Gender] [nvarchar](50) NULL,
	[Qualification] [nvarchar](50) NULL,
	[Mobile] [nvarchar](50) NULL,
	[Specialist] [nvarchar](50) NULL,
	[Photo] [nvarchar](max) NULL,
	[Date_of_joining] [datetime] NULL,
	[Address] [nvarchar](50) NULL,
	[Timing] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[CreationDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdationDate] [datetime] NULL,
 CONSTRAINT [PK_Doctors] PRIMARY KEY CLUSTERED 
(
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DosesDetail]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DosesDetail](
	[DoseId] [int] IDENTITY(1,1) NOT NULL,
	[DosesName] [nvarchar](max) NULL,
 CONSTRAINT [PK_DosesDetail] PRIMARY KEY CLUSTERED 
(
	[DoseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GeneralPrescriptiom]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeneralPrescriptiom](
	[Rpid] [int] IDENTITY(1,1) NOT NULL,
	[Pid] [int] NULL,
	[Did] [int] NULL,
	[PTName] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NULL CONSTRAINT [DF_GeneralPrescriptiom_Gender]  DEFAULT (' '),
	[Age] [nvarchar](max) NULL CONSTRAINT [DF_GeneralPrescriptiom_Age]  DEFAULT (' '),
	[Ht] [nvarchar](max) NULL CONSTRAINT [DF_GeneralPrescriptiom_Ht]  DEFAULT (' '),
	[WT] [nvarchar](max) NULL CONSTRAINT [DF_GeneralPrescriptiom_WT]  DEFAULT (' '),
	[ReferBy] [nvarchar](max) NULL CONSTRAINT [DF_GeneralPrescriptiom_ReferBy]  DEFAULT (' '),
	[Complain] [nvarchar](max) NULL CONSTRAINT [DF_GeneralPrescriptiom_Complain]  DEFAULT (' '),
	[History] [nvarchar](max) NULL CONSTRAINT [DF_GeneralPrescriptiom_History]  DEFAULT (' '),
	[Dx] [nvarchar](max) NULL CONSTRAINT [DF_GeneralPrescriptiom_Dx]  DEFAULT (' '),
	[Investigation] [nvarchar](max) NULL CONSTRAINT [DF_GeneralPrescriptiom_Investigation]  DEFAULT (' '),
	[Advice] [nvarchar](max) NULL CONSTRAINT [DF_GeneralPrescriptiom_Advice]  DEFAULT (' '),
	[GC] [nvarchar](50) NULL CONSTRAINT [DF_GeneralPrescriptiom_GC]  DEFAULT (' '),
	[Temp] [nvarchar](50) NULL CONSTRAINT [DF_GeneralPrescriptiom_Temp]  DEFAULT (' '),
	[PR] [nvarchar](50) NULL CONSTRAINT [DF_GeneralPrescriptiom_PR]  DEFAULT (' '),
	[LR] [nvarchar](50) NULL CONSTRAINT [DF_GeneralPrescriptiom_LR]  DEFAULT (' '),
	[BP] [nvarchar](50) NULL CONSTRAINT [DF_GeneralPrescriptiom_BP]  DEFAULT (' '),
	[SPO2] [nvarchar](50) NULL CONSTRAINT [DF_GeneralPrescriptiom_SPO2]  DEFAULT (''),
	[PA] [nvarchar](50) NULL CONSTRAINT [DF_GeneralPrescriptiom_PA]  DEFAULT (''),
	[CNS] [nvarchar](50) NULL CONSTRAINT [DF_GeneralPrescriptiom_CNS]  DEFAULT (''),
	[GRBS] [nvarchar](50) NULL CONSTRAINT [DF_GeneralPrescriptiom_GRBS]  DEFAULT (''),
	[Review] [nvarchar](max) NULL CONSTRAINT [DF_GeneralPrescriptiom_Review]  DEFAULT (''),
	[Emergency] [nvarchar](max) NULL CONSTRAINT [DF_GeneralPrescriptiom_Emergency]  DEFAULT (''),
	[HR] [nvarchar](50) NULL CONSTRAINT [DF_GeneralPrescriptiom_HR]  DEFAULT (''),
	[CreatedBy] [int] NULL CONSTRAINT [DF_GeneralPrescriptiom_CreatedBy]  DEFAULT ((0)),
	[CreatedDatetime] [datetime] NULL CONSTRAINT [DF_GeneralPrescriptiom_CreatedDatetime]  DEFAULT (NULL),
	[UpdatedBy] [int] NULL CONSTRAINT [DF_GeneralPrescriptiom_UpdatedBy]  DEFAULT ((0)),
	[Updateddatetime] [datetime] NULL CONSTRAINT [DF_GeneralPrescriptiom_Updateddatetime]  DEFAULT (NULL),
 CONSTRAINT [PK_GeneralPrescriptiom] PRIMARY KEY CLUSTERED 
(
	[Rpid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[InvestigationDetails]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvestigationDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Invistagation] [nvarchar](max) NULL,
 CONSTRAINT [PK_InvestigationDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Medicine]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicine](
	[MId] [int] IDENTITY(1,1) NOT NULL,
	[MedicineName] [nvarchar](max) NULL,
	[Formula] [nvarchar](max) NULL,
	[DisseaseId] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[CreationDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[Updationdate] [datetime] NULL,
 CONSTRAINT [PK_Medicine] PRIMARY KEY CLUSTERED 
(
	[MId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Notepad]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notepad](
	[TopicId] [int] IDENTITY(1,1) NOT NULL,
	[TopicName] [nvarchar](max) NULL,
	[TopicContent] [nvarchar](max) NULL,
 CONSTRAINT [PK_Notepad] PRIMARY KEY CLUSTERED 
(
	[TopicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Patient]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[Pid] [int] IDENTITY(1,1) NOT NULL,
	[PName] [nvarchar](50) NULL,
	[PatientType] [int] NULL,
	[ReferBy] [nvarchar](50) NULL,
	[Age] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](50) NULL,
	[MobileNo] [nvarchar](50) NULL,
	[Address] [nvarchar](max) NULL,
	[Date_of_Admission] [datetime] NULL,
	[Date_of_DisCharge] [datetime] NULL,
	[Createdby] [int] NULL,
	[Updatedby] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatetedTime] [datetime] NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[Pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PatientTypes]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientTypes](
	[PTypeId] [int] IDENTITY(1,1) NOT NULL,
	[PatientType] [nvarchar](50) NULL,
 CONSTRAINT [PK_PatientTypes] PRIMARY KEY CLUSTERED 
(
	[PTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RegisterdUsers]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegisterdUsers](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[UserTypeId] [int] NULL,
	[RoleId] [int] NULL,
	[EmailId] [nvarchar](50) NULL,
	[IsActive] [bit] NULL CONSTRAINT [DF_RegisterdUsers_IsActive]  DEFAULT ((0)),
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[Updatedby] [int] NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_RegisterdUsers] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SettingInfo]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SettingInfo](
	[sno] [int] IDENTITY(1,1) NOT NULL,
	[Logo] [nvarchar](max) NULL,
	[TitleName] [nvarchar](max) NULL,
 CONSTRAINT [PK_SettingInfo] PRIMARY KEY CLUSTERED 
(
	[sno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TabletAndDoses]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TabletAndDoses](
	[Pid] [int] NULL,
	[TabName] [nvarchar](500) NULL,
	[RpId] [int] NULL,
	[Dosses] [nvarchar](500) NULL,
	[CreatedBy] [int] NULL,
	[UpdatedBy] [int] NOT NULL,
	[CreatedDatetime] [datetime] NULL,
	[UpdatedDatetime] [datetime] NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([BillId], [DrId], [PatId], [TotalAmount], [DR_Percentage], [Referal_Percentage], [NetAmount], [Createdby], [UpdatedBy], [Createddate], [Updateddate]) VALUES (1, 1, 1, 500.09, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Account] ([BillId], [DrId], [PatId], [TotalAmount], [DR_Percentage], [Referal_Percentage], [NetAmount], [Createdby], [UpdatedBy], [Createddate], [Updateddate]) VALUES (2, 23, 38, 200, NULL, NULL, NULL, 1, NULL, CAST(N'2018-11-11 22:59:52.817' AS DateTime), NULL)
INSERT [dbo].[Account] ([BillId], [DrId], [PatId], [TotalAmount], [DR_Percentage], [Referal_Percentage], [NetAmount], [Createdby], [UpdatedBy], [Createddate], [Updateddate]) VALUES (1002, 25, 1022, 200, NULL, NULL, NULL, 1, NULL, CAST(N'2018-11-17 02:14:40.297' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Account] OFF
SET IDENTITY_INSERT [dbo].[Appointment] ON 

INSERT [dbo].[Appointment] ([AppointmentId], [PId], [Did], [DateOfAppointment], [TimeOfAppointment], [CreationDate], [CreatedBy], [UpdatedBy], [UpdationDate]) VALUES (3003, 1234, 25, CAST(N'2018-12-02 02:18:45.920' AS DateTime), N'2pm', CAST(N'2018-12-02 02:18:45.920' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[Appointment] ([AppointmentId], [PId], [Did], [DateOfAppointment], [TimeOfAppointment], [CreationDate], [CreatedBy], [UpdatedBy], [UpdationDate]) VALUES (3004, 2021, 25, CAST(N'2018-12-02 02:53:09.517' AS DateTime), N'2pm', CAST(N'2018-12-02 02:53:09.517' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[Appointment] ([AppointmentId], [PId], [Did], [DateOfAppointment], [TimeOfAppointment], [CreationDate], [CreatedBy], [UpdatedBy], [UpdationDate]) VALUES (4003, 3021, 23, CAST(N'2018-12-09 02:50:11.533' AS DateTime), N'2pm', CAST(N'2018-12-09 02:50:11.533' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Appointment] OFF
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([ContactId], [ContactName], [Designation], [EmailId], [PhoneNo1], [PhoneNo2], [Address]) VALUES (1, N'Md yawar ali', NULL, N'amair@gmail.com', N'9160020272', N'987654234455', N'Jubli hills Hyderabad')
INSERT [dbo].[Contacts] ([ContactId], [ContactName], [Designation], [EmailId], [PhoneNo1], [PhoneNo2], [Address]) VALUES (2, N'Shaik aijaz Ahmed', NULL, N'Ajaiz18@hotmail.com', N'123456', N'234567', N'Noor pasha masjid,hyderabad,opposite of sky school')
INSERT [dbo].[Contacts] ([ContactId], [ContactName], [Designation], [EmailId], [PhoneNo1], [PhoneNo2], [Address]) VALUES (3, N'sami', NULL, N'sami@gmail.com', N'12345566', N'23434234234', N'Noor pasha masjid,hyderabad,opposite of sky school')
SET IDENTITY_INSERT [dbo].[Contacts] OFF
SET IDENTITY_INSERT [dbo].[DiognasisTest] ON 

INSERT [dbo].[DiognasisTest] ([TestId], [TestName], [Description], [IsChecked]) VALUES (1, N'FAD', N'FAD', 1)
INSERT [dbo].[DiognasisTest] ([TestId], [TestName], [Description], [IsChecked]) VALUES (2, N'Tad', N'Tad', 1)
SET IDENTITY_INSERT [dbo].[DiognasisTest] OFF
SET IDENTITY_INSERT [dbo].[Diseasses] ON 

INSERT [dbo].[Diseasses] ([DiseasesId], [DisseaseName], [Description], [CreatedBy], [CreationDate], [UpdatedBy], [UpdatedDate]) VALUES (1, N'Resuscitation', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Diseasses] ([DiseasesId], [DisseaseName], [Description], [CreatedBy], [CreationDate], [UpdatedBy], [UpdatedDate]) VALUES (2, N'Respiratory distress', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Diseasses] ([DiseasesId], [DisseaseName], [Description], [CreatedBy], [CreationDate], [UpdatedBy], [UpdatedDate]) VALUES (3, N'Apnoea', NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Diseasses] OFF
SET IDENTITY_INSERT [dbo].[Doctors] ON 

INSERT [dbo].[Doctors] ([DoctorId], [Name], [EmailId], [Gender], [Qualification], [Mobile], [Specialist], [Photo], [Date_of_joining], [Address], [Timing], [CreatedBy], [CreationDate], [UpdatedBy], [UpdationDate]) VALUES (23, N'Mr Azam', N'Azam@gmail.com', N'Male', N'MBBS', N'98772727', N'Heart', NULL, NULL, N'hyd', N'8pm-10pm', 1, CAST(N'2018-10-14 18:36:26.410' AS DateTime), 1, CAST(N'2019-10-26 08:32:59.560' AS DateTime))
INSERT [dbo].[Doctors] ([DoctorId], [Name], [EmailId], [Gender], [Qualification], [Mobile], [Specialist], [Photo], [Date_of_joining], [Address], [Timing], [CreatedBy], [CreationDate], [UpdatedBy], [UpdationDate]) VALUES (24, N'Mr Ali', N'yawarali13@gmail.com', N'Male', N'MBBS', N'97654333', N'Cancer', NULL, CAST(N'2018-10-14 00:00:00.000' AS DateTime), N'hyderabad', NULL, 1, CAST(N'2018-10-14 18:38:16.920' AS DateTime), 1, CAST(N'2018-10-14 18:38:16.920' AS DateTime))
INSERT [dbo].[Doctors] ([DoctorId], [Name], [EmailId], [Gender], [Qualification], [Mobile], [Specialist], [Photo], [Date_of_joining], [Address], [Timing], [CreatedBy], [CreationDate], [UpdatedBy], [UpdationDate]) VALUES (25, N'Dr Aijaz Ahmed', N'Ahmed@gmail.com', N'Male', N'MABS', N'Ahmed@gmail.com', N'Cancer', NULL, NULL, N'hyderabad a', N'8pm-10pm', 1, CAST(N'2018-10-14 18:43:36.060' AS DateTime), 1, CAST(N'2019-01-26 14:51:52.157' AS DateTime))
SET IDENTITY_INSERT [dbo].[Doctors] OFF
SET IDENTITY_INSERT [dbo].[DosesDetail] ON 

INSERT [dbo].[DosesDetail] ([DoseId], [DosesName]) VALUES (1, N'1/2  OD							  ')
INSERT [dbo].[DosesDetail] ([DoseId], [DosesName]) VALUES (2, N'1/2     1/2 BID					  ')
INSERT [dbo].[DosesDetail] ([DoseId], [DosesName]) VALUES (3, N'1/2  1/2   1/2 TID				  ')
SET IDENTITY_INSERT [dbo].[DosesDetail] OFF
SET IDENTITY_INSERT [dbo].[GeneralPrescriptiom] ON 

INSERT [dbo].[GeneralPrescriptiom] ([Rpid], [Pid], [Did], [PTName], [Gender], [Age], [Ht], [WT], [ReferBy], [Complain], [History], [Dx], [Investigation], [Advice], [GC], [Temp], [PR], [LR], [BP], [SPO2], [PA], [CNS], [GRBS], [Review], [Emergency], [HR], [CreatedBy], [CreatedDatetime], [UpdatedBy], [Updateddatetime]) VALUES (1, 2021, 1, N'ferd', N',mn', N'asdf', N'nhn', N'sdff', N'asd', N'eerf', N'ddf', N'eef', N'fgg', N'ffee', N'dd', N'aa', N'dfdf', N'ffee', N'ddff', N'eaa', N'fff', N'eef', N'ddss', N'mfdk', N',jjjs', N'nnm', 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[GeneralPrescriptiom] OFF
SET IDENTITY_INSERT [dbo].[InvestigationDetails] ON 

INSERT [dbo].[InvestigationDetails] ([Id], [Invistagation]) VALUES (1, N'CUE')
INSERT [dbo].[InvestigationDetails] ([Id], [Invistagation]) VALUES (2, N'Urine for Bile Salts & Bile Pigments')
INSERT [dbo].[InvestigationDetails] ([Id], [Invistagation]) VALUES (3, N' Urin for Ketone Bodies')
GO
SET IDENTITY_INSERT [dbo].[InvestigationDetails] OFF
SET IDENTITY_INSERT [dbo].[Medicine] ON 

INSERT [dbo].[Medicine] ([MId], [MedicineName], [Formula], [DisseaseId], [Comment], [CreatedBy], [CreationDate], [UpdatedBy], [Updationdate]) VALUES (1, N'Cap Augmentin 375mg', N'Amoxyln', 1, N'asdf', 1, CAST(N'2020-02-01 00:00:00.000' AS DateTime), 1, CAST(N'2020-02-01 00:00:00.000' AS DateTime))
INSERT [dbo].[Medicine] ([MId], [MedicineName], [Formula], [DisseaseId], [Comment], [CreatedBy], [CreationDate], [UpdatedBy], [Updationdate]) VALUES (2, N'Cap Augmentin 625mg', N'Amoxyln', 2, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Medicine] ([MId], [MedicineName], [Formula], [DisseaseId], [Comment], [CreatedBy], [CreationDate], [UpdatedBy], [Updationdate]) VALUES (3, N'Tab Ampilox kid', N'Amoxyln', 2, N'RTI Entric Fever', NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Medicine] ([MId], [MedicineName], [Formula], [DisseaseId], [Comment], [CreatedBy], [CreationDate], [UpdatedBy], [Updationdate]) VALUES (533, N'Tab
', N'Amoxyln', NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Medicine] OFF
SET IDENTITY_INSERT [dbo].[Notepad] ON 

INSERT [dbo].[Notepad] ([TopicId], [TopicName], [TopicContent]) VALUES (1, N'Bismillah', N'<div class="row">
<div class="col-md-12" style="margin-left: 50px;"><span style="font-weight: bold; font-size: 28px; padding-left: 100px;"> DARULSHIFA POLY CLINIC </span><br /> <span style="font-weight: bold; font-size: 15px; padding-left: 20px;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Lab and Medical Facility Available Here,</strong> </span> <span style="font-weight: bold; font-size: 15px; padding-left: 0px;"> <strong>Hno:4-18-26/A,</strong></span></div>
<div class="col-md-12" style="margin-left: 50px;"><span style="font-weight: bold; font-size: 15px; padding-left: 0px;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Opp. Noorani Masjid,</strong> Hassan Nagar,Hyderabad.</span></div>
Bismillah</div>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">dgdfdgsdfg</div>')
INSERT [dbo].[Notepad] ([TopicId], [TopicName], [TopicContent]) VALUES (2, N'asdf', N'<div class="row">
<div class="col-md-12" style="margin-left: 50px;"><span style="font-weight: bold; font-size: 28px; padding-left: 100px;"> DARULSHIFA POLY CLINIC </span><br /> <span style="font-weight: bold; font-size: 15px; padding-left: 20px;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Lab and Medical Facility Available Here,</strong> </span> <span style="font-weight: bold; font-size: 15px; padding-left: 0px;"> <strong>Hno:4-18-26/A,</strong></span></div>
<div class="col-md-12" style="margin-left: 50px;"><span style="font-weight: bold; font-size: 15px; padding-left: 0px;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Opp. Noorani Masjid,</strong> Hassan Nagar,Hyderabad.</span><br /><br /></div>
<div class="col-md-12" style="margin-left: 50px;">&nbsp;asdfasdf</div>
</div>')
INSERT [dbo].[Notepad] ([TopicId], [TopicName], [TopicContent]) VALUES (3, N'tim', N'<div class="row">
<div class="col-md-12" style="margin-left: 50px;"><span style="font-weight: bold; font-size: 28px; padding-left: 100px;"> DARULSHIFA POLY CLINIC </span><br /> <span style="font-weight: bold; font-size: 15px; padding-left: 20px;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Lab and Medical Facility Available Here,</strong> </span> <span style="font-weight: bold; font-size: 15px; padding-left: 0px;"> <strong>Hno:4-18-26/A,</strong></span></div>
<div class="col-md-12" style="margin-left: 50px;"><span style="font-weight: bold; font-size: 15px; padding-left: 0px;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Opp. Noorani Masjid,</strong> Hassan Nagar,Hyderabad.</span><br /><br /></div>
<div class="col-md-12" style="margin-left: 50px;">&nbsp;</div>
<div class="col-md-12" style="margin-left: 50px;">tim</div>
<div class="col-md-12" style="margin-left: 50px;">&nbsp;</div>
</div>')
SET IDENTITY_INSERT [dbo].[Notepad] OFF
SET IDENTITY_INSERT [dbo].[Patient] ON 

INSERT [dbo].[Patient] ([Pid], [PName], [PatientType], [ReferBy], [Age], [Gender], [MobileNo], [Address], [Date_of_Admission], [Date_of_DisCharge], [Createdby], [Updatedby], [CreatedDate], [UpdatetedTime]) VALUES (1026, N'Huzayfa', 1, N'Dr.Jamal', N'34', N'Male', N'908765432', N'Shakker Gunj,Hyderabad', CAST(N'2018-11-18 19:46:15.020' AS DateTime), NULL, 1, 1, CAST(N'2018-11-18 19:46:15.020' AS DateTime), CAST(N'2018-11-18 19:46:15.020' AS DateTime))
INSERT [dbo].[Patient] ([Pid], [PName], [PatientType], [ReferBy], [Age], [Gender], [MobileNo], [Address], [Date_of_Admission], [Date_of_DisCharge], [Createdby], [Updatedby], [CreatedDate], [UpdatetedTime]) VALUES (1027, N'javed', 1, N'Dr.Jamal', N'34', N'Male', N'908765432', N'Shakker Gunj,Hyderabad', CAST(N'2018-11-19 19:47:00.333' AS DateTime), NULL, 1, 1, CAST(N'2018-11-19 19:47:00.333' AS DateTime), CAST(N'2018-11-18 19:46:15.020' AS DateTime))
INSERT [dbo].[Patient] ([Pid], [PName], [PatientType], [ReferBy], [Age], [Gender], [MobileNo], [Address], [Date_of_Admission], [Date_of_DisCharge], [Createdby], [Updatedby], [CreatedDate], [UpdatetedTime]) VALUES (2021, N'IBrahim', 2, N'Dr Jamal', N'23', N'Male', N'98765434', N'Hyderabad', CAST(N'2018-12-02 02:52:34.817' AS DateTime), NULL, 1, NULL, CAST(N'2018-12-02 02:52:34.817' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Patient] OFF
SET IDENTITY_INSERT [dbo].[PatientTypes] ON 

INSERT [dbo].[PatientTypes] ([PTypeId], [PatientType]) VALUES (1, N'IP')
INSERT [dbo].[PatientTypes] ([PTypeId], [PatientType]) VALUES (2, N'OP')
INSERT [dbo].[PatientTypes] ([PTypeId], [PatientType]) VALUES (3, N'Casulty')
SET IDENTITY_INSERT [dbo].[PatientTypes] OFF
SET IDENTITY_INSERT [dbo].[RegisterdUsers] ON 

INSERT [dbo].[RegisterdUsers] ([UserId], [UserName], [Password], [UserTypeId], [RoleId], [EmailId], [IsActive], [CreatedBy], [CreatedDate], [Updatedby], [UpdatedDate]) VALUES (1, N'Admin', N'Admin', 1, 1, N'yawarali17@gmail.com', 1, 1, CAST(N'2018-11-18 00:00:00.000' AS DateTime), 1, CAST(N'2018-12-09 04:05:30.480' AS DateTime))
INSERT [dbo].[RegisterdUsers] ([UserId], [UserName], [Password], [UserTypeId], [RoleId], [EmailId], [IsActive], [CreatedBy], [CreatedDate], [Updatedby], [UpdatedDate]) VALUES (1004, N'Ajaz', N'2688', 25, 2, N'ajaz2688@gmail.com', 1, 1, CAST(N'2018-12-02 00:59:06.500' AS DateTime), 1, CAST(N'2018-12-09 04:06:02.503' AS DateTime))
INSERT [dbo].[RegisterdUsers] ([UserId], [UserName], [Password], [UserTypeId], [RoleId], [EmailId], [IsActive], [CreatedBy], [CreatedDate], [Updatedby], [UpdatedDate]) VALUES (1005, N'azam', N'1234', 23, 2, N'yawarali17@gmail.com', 1, 1, CAST(N'2018-12-02 00:59:48.880' AS DateTime), 1, CAST(N'2018-12-09 04:06:20.647' AS DateTime))
SET IDENTITY_INSERT [dbo].[RegisterdUsers] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (2, N'Doctor')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (3, N'Receptionist')
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[SettingInfo] ON 

INSERT [dbo].[SettingInfo] ([sno], [Logo], [TitleName]) VALUES (1, N'Hyder', N'
<div class="row">
<div class="col-md-12" style="margin-left: 50px;"><span style="font-weight: bold; font-size: 28px; padding-left: 100px;"> DARULSHIFA POLY CLINIC </span><br /> <span style="font-weight: bold; font-size: 15px; padding-left: 20px;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Lab and Medical Facility Available Here,</strong> </span> <span style="font-weight: bold; font-size: 15px; padding-left: 0px;"> <strong>Hno:4-18-26/A,</strong></span></div>
<div class="col-md-12" style="margin-left: 50px;"><span style="font-weight: bold; font-size: 15px; padding-left: 0px;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Opp. Noorani Masjid,</strong> Hassan Nagar,Hyderabad.</span><br /><br /></div>
<div class="col-md-12" style="margin-left: 50px;">&nbsp;</div>
</div>


')
SET IDENTITY_INSERT [dbo].[SettingInfo] OFF
/****** Object:  StoredProcedure [dbo].[getHeaderReciept]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[getHeaderReciept]
  As
  BEGIN
  SELECT * from SettingInfo
  End

GO
/****** Object:  StoredProcedure [dbo].[getNotepadbyId]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[getNotepadbyId]
@TopicId int
As
BEGIN
select * from Notepad where TopicId=@TopicId
END

GO
/****** Object:  StoredProcedure [dbo].[sp_CreateAppointment]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE procedure [dbo].[sp_CreateAppointment]
  @DrId int
 ,@PatId int
 ,@TotalAmount float
 ,@timeAppoint varchar(50)
 ,@CreatedBy int 
 
  AS
  BEGIN
  


  insert into Account([DrId],[PatId],[TotalAmount],CreatedBy,CreatedDate) 
  values(@DrId,@PatId,@TotalAmount,@CreatedBy,convert(varchar, getdate(),13))

  Insert into Appointment(PId,Did,DateOfAppointment,TimeOfAppointment,CreatedBy,CreationDate)
  values(@PatId,@DrId,convert(varchar, getdate(),13),@timeAppoint,@CreatedBy,convert(varchar, getdate(),13))

  select @@IDENTITY as int 
  END

GO
/****** Object:  StoredProcedure [dbo].[sp_Delete_Doctor]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_Delete_Doctor]
@DoctorId int
As
Begin
Delete from Doctors where DoctorId=@DoctorId
End

GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteDoctorsbyid]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteDoctorsbyid]
@id int
AS
BEGIN
DELETE from Doctors WHERE DoctorId=@id
END

GO
/****** Object:  StoredProcedure [dbo].[sp_get_CountPatientByDrId]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_get_CountPatientByDrId]
As
BEGIN
Select ap.Did,dr.Name,count(*) as PatientCount 
from Appointment ap left join Doctors dr
on ap.Did =dr.DoctorId
group by ap.Did,dr.Name
END


GO
/****** Object:  StoredProcedure [dbo].[sp_get_Dashboard_Detail]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[sp_get_Dashboard_Detail]
As
BEGIN
--SELECT Count(*) as CurrentPatient  from Patient where  dateadd(d, datediff(d,0, CreatedDate), 0) = dateadd(d, datediff(d,0, GETDATE()), 0)
SELECT Count(*) as CurrentPatient  from Patient 

SELECT Count(*) as Appointment from Appointment where  dateadd(d, datediff(d,0, CreationDate), 0)  = dateadd(d, datediff(d,0, GETDATE()), 0)

select sum([TotalAmount]) as TotalEarning from Account where  cast(Createddate as date)=cast(GETDATE() as date)

END 


select * from account





GO
/****** Object:  StoredProcedure [dbo].[sp_get_Dashboard_GetCountAppointmentByDRId]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_get_Dashboard_GetCountAppointmentByDRId]
@Drid int=Null
,@fromdate nvarchar(50)
,@todate   nvarchar(50)
As
BEGIN
Declare @FromAppDate datetime
Declare @ToAppDate datetime

set @FromAppDate= dateadd(d, datediff(d,0,@fromdate), 0)
set @ToAppDate=dateadd(d, datediff(d,0,@todate), 0)

if not exists (Select * from Doctors where DoctorId = @Drid)
    Begin
            SELECT Count(*) as Appointment from Appointment where  dateadd(d, datediff(d,0, CreationDate), 0)
 between   @FromAppDate  and @ToAppDate
    End
Else
    Begin
           SELECT Count(*) as Appointment from Appointment where  dateadd(d, datediff(d,0, CreationDate), 0)
 between  @FromAppDate  and @ToAppDate and Did=@Drid
    End
 END 



GO
/****** Object:  StoredProcedure [dbo].[sp_get_Dissease]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[sp_get_Dissease]
As
Begin
Select * from Diseasses
End

GO
/****** Object:  StoredProcedure [dbo].[sp_get_Dissease_ById]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[sp_get_Dissease_ById]
@Id int 
As
Begin
Select * from Diseasses Where DiseasesId=@Id
End

GO
/****** Object:  StoredProcedure [dbo].[sp_get_Doctors]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_get_Doctors]

AS
BEGIN
SELECT * from Doctors    
END

GO
/****** Object:  StoredProcedure [dbo].[sp_get_Medicine]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_get_Medicine]
As
Begin
Select m.MId, m.MedicineName,m.Formula,m.Comment,m.CreatedBy,m.UpdatedBy,d.DiseasesId,d.DisseaseName from Medicine m
left join Diseasses d
on m.DisseaseId=d.DiseasesId
End

 

GO
/****** Object:  StoredProcedure [dbo].[sp_get_Patient]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE Procedure [dbo].[sp_get_Patient]
  As
  Begin
  select pat.Pid,pat.PName,pat.Age,pat.gender,pat.ReferBy,ptype.PatientType,
  Pat.MobileNo,pat.Date_of_DisCharge,pat.address,pat.createdby,pat.CreatedDate,pat.Updatedby,pat.UpdatetedTime from Patient pat left outer
  join PatientTypes ptype
  on pat.Pid=ptype.PTypeId
  End

GO
/****** Object:  StoredProcedure [dbo].[sp_get_ROLES]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


  CREATE PROCEDURE [dbo].[sp_get_ROLES]
  AS
  BEGIN
  SELECT * FROM ROLES
  END


GO
/****** Object:  StoredProcedure [dbo].[sp_get_ViewLoginDetail]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE PROCEDURE [dbo].[sp_get_ViewLoginDetail]
  AS
  BEGIN
  SELECT rg.UserId,rg.Password,rg.UserName,rg.RoleId,rg.IsActive,rl.RoleName,rg.CreatedDate,rg.UpdatedDate FROM RegisterdUsers rg
  LEFT JOIN Roles rl
  on rg.RoleId=rl.RoleId 
  END


GO
/****** Object:  StoredProcedure [dbo].[sp_getAppointment]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getAppointment]
As
BEGIN
SELECT apt.AppointmentId,CONVERT(datetime, apt.DateOfAppointment, 103) as 'DateOfAppointment' ,apt.TimeOfAppointment,pat.Pid,pat.PName,Dt.Name  from Patient pat
INNER JOIN Appointment apt
on pat.Pid=apt.PId
INNER JOIN Doctors Dt
on dt.DoctorId=apt.Did


 
END

GO
/****** Object:  StoredProcedure [dbo].[sp_getAppointmentByDrId]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_getAppointmentByDrId]
@DRID Int=null
As
BEGIN
SELECT apt.AppointmentId,CONVERT(datetime, apt.DateOfAppointment, 103) as 'DateOfAppointment' ,
apt.TimeOfAppointment,pat.Pid,pat.PName,Dt.Name  from Patient pat
INNER JOIN Appointment apt
on pat.Pid=apt.PId
INNER JOIN Doctors Dt
on dt.DoctorId=apt.Did
Inner Join RegisterdUsers rg
on rg.UserTypeId=dt.DoctorId
where rg.usertypeid=@DRID
END

GO
/****** Object:  StoredProcedure [dbo].[sp_getCurrentAccountDetailsByDrId]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE Procedure [dbo].[sp_getCurrentAccountDetailsByDrId]
 @Drid int=null
,@fromdate nvarchar(max)=null
,@todate   nvarchar(max)=null
As
BEGIN

if(@Drid is null)
    Begin
 
            SELECT sum(TotalAmount) as TotalEarning from Account where   cast(Createddate as date)  
 between   cast(@fromdate as date)  and   cast(@todate as date)
    End
 if(@Drid is not null and cast(@fromdate as date) is not null and cast(@todate as date) is not null )
    Begin
 
           SELECT sum(TotalAmount) as TotalEarning from Account where  cast(Createddate as date)  
 between cast(@fromdate as date)  and   cast(@todate as date) and DrId=@Drid
    End
	ELSE IF(@Drid is not null and @fromdate  is null and cast(@todate as date) is null)
 BEGIN
 
           SELECT sum(TotalAmount) as TotalEarning from Account where  DrId=@Drid
		   and cast(Createddate as date)=cast(GETDATE() as date)

 
 END 
END

GO
/****** Object:  StoredProcedure [dbo].[sp_getCurrentAppointmentByDrId]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_getCurrentAppointmentByDrId]
@DrId int 
As
Begin
  SELECT Count(*)as [CurrentAppointmentCount] from Appointment where  cast(CreationDate as date) 
     = cast(GETDATE() as date)
  and Did=@DrId
END


GO
/****** Object:  StoredProcedure [dbo].[sp_getDoctorName]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_getDoctorName]
@searchText nvarchar(100)
As
Begin
  SELECT name,Specialist FROM [HospitalManagement].[dbo].[Doctors] where name like ''+@searchText+'%'  or Specialist like ''+@searchText+'%'
END





GO
/****** Object:  StoredProcedure [dbo].[sp_getDoctorsbyid]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getDoctorsbyid]
@id int
AS
BEGIN
SELECT * from Doctors WHERE DoctorId=@id
END

GO
/****** Object:  StoredProcedure [dbo].[sp_getExistingPatientsByDrId]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_getExistingPatientsByDrId]
 @Drid int=null
,@fromdate nvarchar(max)=null
,@todate   nvarchar(max)=null
As
BEGIN

if(@Drid is null)
    Begin
	print 'Dr is null'
            SELECT Count(*) as CurrentPatient from Appointment where   cast(CreationDate as date)  
 between   cast(@fromdate as date)  and   cast(@todate as date)
    End
 if(@Drid is not null and cast(@fromdate as date) is not null and cast(@todate as date) is not null )
    Begin
	print 'ali1'
           SELECT Count(*) as CurrentPatient from Appointment where  cast(CreationDate as date)  
 between cast(@fromdate as date)  and   cast(@todate as date) and Did=@Drid
    End
	ELSE IF(@Drid is not null and @fromdate  is null and cast(@todate as date) is null)
 BEGIN
 print 'ali'
           SELECT Count(*) as CurrentPatient from Appointment where  Did=@Drid
		   and cast(CreationDate as date)  <cast(GETDATE() as date)

 
 END 
END

GO
/****** Object:  StoredProcedure [dbo].[sp_getLoginUsers]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getLoginUsers]
@UserName nvarchar(50),
@RoleId int null,
@Password nvarchar(50)
AS
BEGIN
SELECT * FROM RegisterdUsers WHERE UserName=@UserName and Password=@Password and RoleId=@RoleId
 
END


GO
/****** Object:  StoredProcedure [dbo].[sp_getMediciine]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getMediciine]
@DisseaseId int
,@MedicineName nvarchar(max)
,@Formula nvarchar(max)
,@Content nvarchar(max)
,@Mid int
As
BEGIN
update Medicine set MedicineName=@MedicineName,Formula=@Formula,Comment=@content ,DisseaseId=@disseaseId

where MId=@Mid

END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetNotepad]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  CREATE PROCEDURE [dbo].[sp_GetNotepad]
  
  AS
  BEGIN
SELECT * From Notepad 
  END

GO
/****** Object:  StoredProcedure [dbo].[sp_Insert_Dissease]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_Insert_Dissease]
@DisseaseName nvarchar(max),
@Description nvarchar(max),
@CreatedBy int,
@UpdatedBy int
As
Begin
Insert into Diseasses(DisseaseName,Description,CreatedBy,CreationDate,UpdatedBy,UpdatedDate) values(@DisseaseName,@Description,@CreatedBy,GETDATE(),@UpdatedBy,GETDATE())
select @@IDENTITY as int
End

GO
/****** Object:  StoredProcedure [dbo].[sp_insert_LoginUsers]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_insert_LoginUsers]
@UserName varchar(50),
@Password varchar(50),
@RoleId int,
@UserTypeId int,
@EmailId varchar(50), 
@IsActive bit,
@CreatedBy int,

@Updatedby int

AS
BEGIN

Declare @CheckUserName varchar(50)
select @CheckUserName= Count(*)  from RegisterdUsers Where UserName=@UserName
if(@CheckUserName<1)
INSERT INTO RegisterdUsers(UserName,Password,RoleId,UserTypeId,EmailId,IsActive,CreatedBy,CreatedDate,Updatedby,UpdatedDate)
values(@UserName,@Password,@RoleId,@UserTypeId,@EmailId,@IsActive,@CreatedBy,GETDATE(),@Updatedby,GETDATE())
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Insert_Medicine]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_Insert_Medicine]
@MedicineName nvarchar(max),
@Formula nvarchar(max),
@DisseaseId int,
@Comment nvarchar(max),
@CreatedBy int,
@UpdatedBy int
As
Begin
Insert into Medicine(MedicineName,Formula,DisseaseId,Comment,CreatedBy,CreationDate,UpdatedBy,Updationdate) values(@MedicineName,@Formula,@DisseaseId,@Comment,@CreatedBy,GETDATE(),@UpdatedBy,GETDATE())
select @@IDENTITY as int
End

GO
/****** Object:  StoredProcedure [dbo].[sp_insert_TabandDoses]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE procedure [dbo].[sp_insert_TabandDoses]
 @Pid int=null
 ,@TabNmae varchar(100)=null
 ,@Rpid int=null
 ,@Doses nvarchar(100)
 ,@createdBy int 
 ,@UpdatedBy int
 ,@CreatedDatetime datetime
 ,@UpdateDatetime datetime
  AS
  BEGIN
  INSERT INTO TabletAndDoses(pid,TabName,Rpid,Dosses,CreatedBy,UpdatedBy,CreatedDatetime,UpdatedDatetime)
  Values(@Pid,@TabNmae,@Rpid,@Doses,@createdBy,@UpdatedBy,@CreatedDatetime,@UpdateDatetime)
  END

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertDoctors]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_InsertDoctors]
   @name nvarchar(50)
  ,@emailid nvarchar(50)
  ,@mobileno nvarchar(50)
  ,@gender nvarchar(50)
  ,@specialist nvarchar(50)
  ,@date_of_joining datetime
  ,@qualification nvarchar(max)
  ,@address nvarchar(max)
  ,@Timing nvarchar(50)
  ,@CreatedBy int
   ,@UpdatedBy int
   
  As
  BEGIN
  Insert into Doctors(Name,Gender,EmailId,Mobile,Qualification,Specialist,Date_of_joining,Address,Timing,CreatedBy,UpdatedBy,CreationDate,UpdationDate)values
  (@Name,@gender,@EmailId,@MobileNo,@Qualification,@Specialist,@Date_of_joining,@Address,@Timing,@CreatedBy,@UpdatedBy,GETDATE(),GETDATE())
  select @@IDENTITY as int
END


GO
/****** Object:  StoredProcedure [dbo].[sp_InsertNotepad]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  CREATE PROCEDURE [dbo].[sp_InsertNotepad]
  @TopicName nvarchar(max)
 ,@TopicContent nvarchar(max)
  AS
  BEGIN
 Insert into Notepad(TopicName,TopicContent) Values(@TopicName,@TopicContent)
 
  END

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertPatient]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_InsertPatient]
   @Ptname nvarchar(50)
 
  ,@MobileNo nvarchar(50)
  ,@gender nvarchar(50)
  ,@PatientType int
  ,@Age varchar(50)
  ,@ReferBy nvarchar(50)
  ,@address nvarchar(max)
   ,@createdBy int
  
   
  As
  BEGIN
  Insert into Patient(PName,Gender,
  MobileNo,PatientType,Date_of_Admission,Address,ReferBy,age,CreatedBy,CreatedDate)values
  (@Ptname,@gender,@MobileNo,@PatientType,GETDATE(),@Address,@ReferBy,@Age,@CreatedBy,convert(varchar, getdate(), 13))
  select @@IDENTITY as int
END


GO
/****** Object:  StoredProcedure [dbo].[sp_insertPatientReport]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_insertPatientReport]
@Pid int=null,
@did int=null,
@ReferBy nvarchar(max)=null,
@PTName nvarchar(max)=null,
@Gender nvarchar(max)=null,
@HT nvarchar(max)=null,
@WT nvarchar(max)=null,
@Age nvarchar(max)=null,
@Complain nvarchar(max)=null,
@History nvarchar(max)=null,
@Dx nvarchar(max)=null,
@Investigation nvarchar(max),
@Advice nvarchar(max)=null,
@GC nvarchar(max)=null,
@Temp nvarchar(max)=null,
@PR nvarchar(max)=null,
@LR nvarchar(max)=null,
@BP nvarchar(max)=null,
@SPO2 nvarchar(max)=null,
@PA nvarchar(max)=null,
@CNS nvarchar(max)=null,
@GRBS nvarchar(max)=null,
@HR nvarchar(max)=null,
@CreatedBy nvarchar(max)=null,
@CreatedDatetime datetime=null,
@UpdatedBy int=null,
@Updateddatetime datetime=null,
@Emergency nvarchar(max)=null,
@Review nvarchar(max)=null
 
AS
BEGIN

insert into GeneralPrescriptiom(Pid,PtName,Gender,Age,Ht,Wt,ReferBy,Review,Emergency,did,Complain,History,Dx,Investigation,Advice,
GC,Temp,PR,LR,BP,SPO2,PA,CNS,GRBS,HR,CreatedBy,CreatedDatetime,UpdatedBy,Updateddatetime)
Values(@Pid,@PtName,@Gender,@Age,@Ht,@Wt,@ReferBy,@Review,@Emergency,@did,@Complain,@History,@Dx,@Investigation,@Advice,
@GC,@Temp,@PR,@LR,@BP,@SPO2,@PA,@CNS,@GRBS,@HR,@CreatedBy,@CreatedDatetime,@UpdatedBy,@Updateddatetime)

select @@IDENTITY as int 
END

GO
/****** Object:  StoredProcedure [dbo].[sp_insertTabandDoses]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_insertTabandDoses]
@pid int=null,
@TABNAME nvarchar(150)=null,
@Rpid int=null,
@Doses varchar(100)=null,
@CREATEDBY int=null,
@updatedBy int=null

AS
BEGIN
INSERT into TabletAndDoses(Pid,TabName,RpId,Dosses,CreatedBy,CreatedDatetime,UpdatedBy,UpdatedDatetime)values(@Pid,@TabName,@RpId,@Doses,@CreatedBy,GETDATE(),@updatedBy,GETDATE())
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Update_Dissease_ById]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[sp_Update_Dissease_ById]
@Id int,
@DisseaseName nvarchar(max),
@Description nvarchar(max),
@CreatedBy int,
@UpdatedBy int 
As
Begin
Update Diseasses set DisseaseName=@DisseaseName,Description=@Description,UpdatedBy=@UpdatedBy,UpdatedDate=GETDATE() Where DiseasesId=@Id
End

GO
/****** Object:  StoredProcedure [dbo].[sp_Update_Doctors]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_Update_Doctors]
   @name nvarchar(50)
  ,@emailid nvarchar(50)
  ,@mobileno nvarchar(50)
  ,@gender nvarchar(50)
  ,@specialist nvarchar(50)
  ,@date_of_joining datetime
  ,@qualification nvarchar(max)
  ,@address nvarchar(max)
  ,@Timing nvarchar(50)
  ,@CreatedBy int
   ,@UpdatedBy int
   ,@DoctorID int
  As
  BEGIN
  Update  Doctors set Name=@name,Gender=@gender,EmailId=@emailid,Mobile=@mobileno,Qualification=@qualification,Specialist=@specialist,Date_of_joining=@date_of_joining,Address=@address,Timing=@Timing,UpdatedBy=@UpdatedBy,UpdationDate=GETDATE() where DoctorID=@DoctorID
 
END


GO
/****** Object:  StoredProcedure [dbo].[sp_Update_LoginUsers]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Update_LoginUsers]
@UserId int
AS
BEGIN
select * from RegisterdUsers where UserId=@UserId
END


GO
/****** Object:  StoredProcedure [dbo].[sp_Update_Notepad]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_Update_Notepad]
 @TopicId int
,@TopicName nvarchar(max)
,@TopicContent nvarchar(max)
As
BEGIN
Update Notepad set TopicName=@TopicName,TopicContent=@TopicContent  where TopicId=@TopicId
END

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatebyUserId_LoginUsers]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdatebyUserId_LoginUsers]
@userId int,
@UserName varchar(50),
@Password varchar(50),
@RoleId int,
@EmailId varchar(50), 
@IsActive bit,
@UserTypeId int,
@Updatedby int

AS
BEGIN
Update  RegisterdUsers set UserName=@UserName,Password=@Password,RoleId=@RoleId,UserTypeId=@UserTypeId,EmailId=@EmailId,
IsActive=@IsActive,Updatedby=@Updatedby,UpdatedDate=GETDATE() where UserId=@userId
 
END

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateDoctors]    Script Date: 13-04-2022 09:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE Procedure [dbo].[sp_UpdateDoctors]
    @id int
   ,@Name nvarchar(50)
  ,@EmailId nvarchar(50)
  ,@MobileNo nvarchar(50)
  As
  BEGIN
  Update Doctors set Name=@Name,EmailId=@EmailId,Mobile=@MobileNo where DoctorId=@id
END


GO
USE [master]
GO
